
   .tamanho-maximo-container {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;

}
 .rodape-copyright {

    text-align: center;
    padding: 30px;
    border-top: 1px solid rgb(16, 16, 16);
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding-top: 30px;
  }
  
  .rodape {
    background-color:  rgb(9, 3, 3);
    color:#fff;
  }
  
  .rodape h4 {
    font-size: 20px;
    font-style: italic;
    margin-left: 20px;
  }
  
  .rodape-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rodape-info {
    width: 23%;
    display: flex;
    align-items: center;
    font-style: italic;
  }
  
  .rodape-link{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
    padding: 10px;
    
    

  }
  
  .rodape-icone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
.rodape-info a{
    text-decoration: none;
    color: #fff;
    font-style: italic;
    
}
.footP {

  font-size: 16px;
}

@media(max-width:425px) {

  .footP {

  font-size: 12px;

  }

  .rodape h4 {
    font-size: 14px;
    
  }
}